<!DOCTYPE html>
<html>
<head>
  <title>Datajam</title>
  <%= javascript_include_tag :head %>
  <%= javascript_include_tag :body %>
  <script type="text/javascript">
    require.paths.chat || (require.paths.chat = '/static/javascripts/datajam/chat');
  </script>
  <%= render :partial => 'shared/script_id', :locals => { event: nil } %>
  <%= csrf_meta_tag %>

  <%= yield :head %>

</head>
<body class="bare">

  <%= yield %>
  <%= yield :body %>

</body>
</html>
